# CODEOWNERS

# =========================
# Global
# =========================
* @XavierSs21

# =========================
# CI/CD (GitHub Actions, workflows, configs)
# =========================
.github/ @XavierSs21
